@use "../abstracts/variables" as var;

body {
  background-color: rgba(var.$lightBlue, 0.2);
}

.section {
  > .container {
    background-color: white;
  }

  &__body {
    padding: clamp(2rem, 10vw, 8rem) 0;
    width: clamp(30ch, 100%, 80ch);
    margin: 0 auto;
  }

  &__subheading {
    span {
      color: var.$blue;
    }
  }

  &__desc {
    margin-top: 1rem;

    & + & {
      margin-top: 0.8rem;
    }
  }
}

.select-wrapper {
  margin-top: 0.3rem;
  display: flex;
  gap: 0.5rem;

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-25%);
      margin: auto;
      border: 0.5rem solid transparent;
      border-top: 0.5rem solid rgba(var.$blue, 0.7);
      border-left-width: 0.35rem;
      border-right-width: 0.35rem;
      pointer-events: none;
    }
  }

  &__select {
    background-color: rgba(var.$lightBlue, 0.4);
    padding: 0.3em 1em;
    padding-right: 3em;
    appearance: none;
    border: none;
  }
}
