body {
  font-family: sans-serif;
}

.hamburger-menu {
  font-size: 1.3rem;
}

.primary-nav {
  li a {
    font-size: 1.2rem;
    text-decoration: none;
  }
}

.secondary-nav {
  a {
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
  }
}
