@use "../abstracts/mixins" as mix;

body {
  font-family: sans-serif;
}

.hamburger-menu {
  font-size: 1.3rem;
}

.primary-nav {
  li a {
    font-size: 1.2rem;
    text-decoration: none;

    @include mix.respond-to("medium") {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.secondary-nav {
  a {
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
  }
}

.section {
  &__subheading {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 600;
    line-height: 1.8;
  }
  &__desc {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    line-height: 1.7;
  }
}

.landing-page {
  &__img {
    &::before {
      font-size: clamp(2rem, 10vw + 1rem, 8rem);
      font-weight: 600;
    }
  }
}

.video-page {
  &__video-desc {
    font-size: clamp(0.6rem, 5vw, 0.8rem);
  }
}

.card {
  &__desc,
  &__cta {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 600;
    line-height: 1.8;
  }
}
