$lightYellow: hsl(62.7, 100%, 82.7%);
$lightPurple: hsl(266.8, 100%, 85.1%);
$lightGreen: hsl(128.2, 100%, 85.7%);
$lightBlue: hsl(224.6, 100%, 84.7%);
$blue: hsl(240, 100%, 50%);
$orange: hsl(13.8, 100%, 65.1%);
$youtubeRed: hsl(0, 100%, 50%);
$facebookBlue: hsl(220.2, 45.9%, 47.8%);
$twitterBlue: hsl(202.8, 89.1%, 53.1%);
$instagramOrange: hsl(3.5, 77.7%, 61.4%);
$borderWidth: 2px;
$borderStyle: solid;
$borderColor: rgba($lightBlue, 0.5);
$border: $borderWidth $borderStyle $borderColor;

/* Breakpoints */
$breakpoints: (
  "small": 600px,
  "medium": 900px,
  "large": 1200px,
  "very-large": 1800px,
);
