@use "../abstracts/variables" as var;

.container {
  max-width: map-get(var.$breakpoints, "very-large");
  margin: 0 auto;
}

.container-small {
  max-width: map-get(var.$breakpoints, "large");
  margin: 0 auto;
  padding: 0 1.5rem;
}
