@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.footer-page {
  > .container {
    padding: clamp(2rem, 10vw, 8rem) 0;
    border-top: var.$border;
    background-color: white;
  }

  .wrapper:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  & a:not(&__icon) {
    display: inline-block;
    text-decoration: none;
    color: black;

    &::after {
      content: "›";
      margin-left: 0.3em;
    }
  }

  &__heading {
    margin-bottom: 2.3rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
  }

  &__register {
    > ul {
      display: flex;
      flex-direction: column;
      height: 100%;

      > li:last-child {
        margin-top: auto;
      }
    }

    & li > ul {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .cta {
        display: block;
        padding: 0;

        > img {
          --ctaSize: 2.5rem;
          width: var(--ctaSize);
          aspect-ratio: 1;
          padding: 0.35rem;
        }
      }

      .facebookIcon {
        background-color: var.$facebookBlue;
      }
      .twitterIcon {
        background-color: var.$twitterBlue;
      }
      .youtubeIcon {
        background-color: var.$youtubeRed;
      }
      .instagramIcon {
        background-color: var.$instagramOrange;
      }
    }
  }

  &__form {
    order: 1;
  }
  &__register {
    order: 2;
  }
  &__education {
    order: 3;
  }

  @include mix.respond-to("medium") {
    &__register {
      order: 1;
    }
    &__education {
      order: 2;
    }
    &__form {
      order: 3;
    }
  }

  &__links {
    a::after {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.3em;

      li:last-child {
        margin-top: 2em;

        a {
          display: flex;
          gap: 0.8em;
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: center;
        }
      }

      @include mix.respond-to("medium") {
        flex-direction: row;
        gap: 0.7em;

        li:last-child {
          margin-top: 0;
          margin-left: auto;

          a {
            display: flex;
            gap: 0.8em;
            flex-direction: row;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
