@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.footer-page {
  > .container {
    padding: clamp(2rem, 10vw, 8rem) 0;
    border-top: var.$border;
    background-color: white;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  & a:not(&__icons) {
    display: inline-block;
    text-decoration: none;
    color: black;

    &::after {
      content: "›";
      margin-left: 0.3em;
    }
  }

  &__heading {
    margin-bottom: 2.3rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
  }

  &__register {
    & li > ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.6rem;

      .cta {
        width: 2.5rem;
        padding: 0;

        > img {
          padding: 0.25rem;
        }
      }

      .facebookIcon {
        background-color: var.$facebookBlue;
      }
      .twitterIcon {
        background-color: var.$twitterBlue;
      }
      .youtubeIcon {
        background-color: var.$youtubeRed;
      }
      .instagramIcon {
        background-color: var.$instagramOrange;
      }
    }
  }

  &__form {
    order: 1;
  }
  &__register {
    order: 2;
  }
  &__education {
    order: 3;
  }

  @include mix.respond-to("medium") {
    &__register {
      order: 1;
    }
    &__education {
      order: 2;
    }
    &__form {
      order: 3;
    }
  }
}
