@use "../abstracts/variables" as var;

.form {
  &__wrapper {
    margin-top: 1rem;
    display: flex;
  }

  &__input {
    flex: 1;
    padding: 0.4em 0.6em;
    border: none;
    background-color: rgba(var.$lightBlue, 0.4);

    &::placeholder {
      color: rgba(var.$blue, 0.5);
    }
  }

  &__cta {
    background-color: var.$blue;
    color: white;
  }
}
