@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

header {
  > .container {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.3rem;
    border-bottom: var.$border;
    background-color: white;
  }

  @include mix.respond-to("medium") {
    > .container {
      padding: 1.5rem 2rem;
    }
  }

  .logo {
    z-index: 1;
    img {
      width: auto;
      height: 1.8rem;
    }
  }

  .menu {
    margin-left: 2rem;

    .hamburger-menu {
      z-index: 1;

      cursor: pointer;
      border: none;
      background: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        margin-left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
      }
    }

    @include mix.respond-to("medium") {
      flex: 1;

      .hamburger-menu {
        display: none;
      }
    }
  }
}
