@use "../abstracts/variables" as var;

.landing-page {
  position: relative;
  z-index: -1;

  &__img {
    min-height: 80vh;
    background: url("/img/header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      content: "Ableton";
      position: absolute;
      color: var.$orange;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
